@{
    ViewData["Title"] = "About me";
}
<h2>@ViewData["Title"]</h2>

<p>I am a hardworking student at SDU (University of Southern Denmark) in Odense <br />
    I'm studying to become a SoftwareEngineer and the reason you're reading this is <br />
    that I really would like to work for you! <br />
    <br />
    My name is Alexander and I am 25 years old and living in Odense. <br />
    I love working with software and I can't get enough og it! <br />
    For workexperience I've been working with Java (Using Netbeans) and we're starting to use C# <br />
    I feel somewhat comfortable working i Java. C# is a little bit different but as I've just <br />
    almost just started using it I don't feel it should be an issue after a little while as it resembles Java <br />
    in many aspects. As of now I feel like C# has way more shorcuts and easy ways to do the same tasks in a much faster <br />
    and more enjoyable way.
    <br />
    <br />
    For further information please feel free to contact me at any time of the day. <a class="footer__list-item-link" href="/Home/Contact">Click here</a> to find contact info.
    </p>

