
@{
    ViewData["Title"] = "Completed Courses";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/site.css">
</head>

<h2>CompletedCourses</h2>

<table>
    <tr>
        <th>Course name</th>
        <th>Semester</th>
        <th>Final grade</th>
        <th>Exam type</th>
        <th>ECTS points</th>
    </tr>
    <tr>
        <td>Object-Oriented-Programming (OOP) (Semester project)</td>
        <td>1</td>
        <td>7</td>
        <td>Group and individual - Oral</td>
        <td>20.0</td>
    </tr>
    <tr>
        <td>Introduction to Software Engineering (ISE)</td>
        <td>1</td>
        <td>7</td>
        <td>Written</td>
        <td>5.0</td>
    </tr>
    <tr>
        <td>Computer Science</td>
        <td>1</td>
        <td>7</td>
        <td>Written</td>
        <td>5.0</td>
    </tr>
    <tr>
        <td>Advanced Object-Oriented-Programming (VOP)</td>
        <td>2</td>
        <td>4</td>
        <td>Practical programming - Written</td>
        <td>5.0</td>
    </tr>
    <tr>
        <td>Organization and management</td>
        <td>2</td>
        <td>4</td>
        <td>48 hour written</td>
        <td>5.0</td>
    </tr>
    <tr>
        <td>Basic Software Engineering (GSE)</td>
        <td>2</td>
        <td>4</td>
        <td>Written</td>
        <td>5.0</td>
    </tr>
    <tr>
        <td>Database Programming (SQL)</td>
        <td>2</td>
        <td>4</td>
        <td>24 hour written</td>
        <td>5.0</td>
    </tr>
    <tr>
        <td>Organizational Software Engineering (Semester project)</td>
        <td>2</td>
        <td>10</td>
        <td>Group and individual - Oral</td>
        <td>10.0</td>
    </tr>
    <tr>
        <td>Discrete mathematics</td>
        <td>3</td>
        <td>7</td>
        <td>Written</td>
        <td>4.0</td>
    </tr>
    <tr>
        <td>Operating systems and networks</td>
        <td>3</td>
        <td>7</td>
        <td>Written</td>
        <td>5.0</td>
    </tr>
    <tr>
        <td>Cross-Cultural Management</td>
        <td>3</td>
        <td>7</td>
        <td>Written</td>
        <td>5.0</td>
    </tr>
    <tr>
        <td>Design of software systems in GLobal context (GLO) (Semester project)</td>
        <td>3</td>
        <td>7</td>
        <td>Group and individual - Oral</td>
        <td>20.0</td>
    </tr>
    <tr>
        <td>DESign of software systems</td>
        <td>3</td>
        <td>4</td>
        <td>Written</td>
        <td>5.0</td>
    </tr>
</table>

