@{
    ViewData["Title"] = "Privacy Policy";
}
<h2><q>@ViewData["Title"]</q></h2>

<p>
    All your private data (Including IP-adress, location, credit card information etc.) <br />
    Will NOT be securely stored but we will collect it and sell to the highest bidder as soon as we can. <br />
    You do not need to worry if you do not want us to collect your private data, it is already too late <br />
    As soon as you entered the site we copied all your personal data directly from your system and sent to <br />
    Indian department where they will call you on a later time claming to be from Microsoft technical support(TM) <br />
    This is only to get more money out of you after we've cleaned out your bank acount the first time. <br />
<p />

<img src="~/images/microsoft-tech-support.jpg" alt="microsoft-tech-support">

<p>Thank you so much for using our services and we hope to steal your personal information again soon.</p>
