@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<link rel="stylesheet" type="text/css" href="~/CSS/site.css">

<div class="row">
    <div class="columnContact">
        <address>
            Alexander Micheelsen Rol<br />
            Astrupvej 42 1. Dør 3<br />
            <span class="glyphicon glyphicon-phone"></span>
            (+45) 61 70 02 32
        </address>

        <address>
            <strong>Mail:</strong> <a href="mailto:alexander-rol@hotmail.com.com">Alexander-Rol@hotmail.com</a><br />
            <strong>Fax:</strong> <a href="https://www.360direct.com/wp-content/uploads/2017/01/fax-meme.jpeg">Fax@What.dino</a>
        </address>
    </div>
    <div class="columnContact">
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

        <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="da_DK" data-type="vertical" data-theme="dark" data-vanity="alexander-rol-ab571014a">
            <a class="LI-simple-link" href='https://dk.linkedin.com/in/alexander-rol-ab571014a?trk=profile-badge'>Alexander Rol</a>
        </div>
    </div>
</div>