
@{
    ViewData["Title"] = "Welcome future employer";
}

<center><h2>@ViewData["Title"]</h2></center>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/site.css">
</head>

<div>
    <img src="~/images/welcomeImage.jpg" alt="WelcomeImage" class="center-block">
</div>


<center>
    <h4>
        This is my own selfmade homepage for showcasing some of what I'm capable of when it comes to development <br />
        Feel free to navigate around on the page to see who I am and which courses I've passed and much more. <br />
        <br />
        This page will be updated when new information is acuired. This means that this page allways will be up to date <br />
        if you need to check up on my skills and education.
    </h4>
</center>

