
@{
    ViewData["Title"] = "Welcome future employer";
}

<center><h2>@ViewData["Title"]</h2></center>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/site.css">
</head>

@*<div>
    <img src="~/images/welcomeImage.jpg" alt="WelcomeImage" class="center-block">
    <img itemprop="image" src="~/images/MainPagePicture.jpg" align="left" height="300"/><p><h4>
    This is my own selfmade homepage for showcasing some of what I'm capable of when it comes to development <br />
    Feel free to navigate around on the page to see who I am and which courses I've passed and much more. <br />
    <br />
    This page will be updated when new information is acuired. This means that this page allways will be up to date <br />
    if you need to check up on my skills and education.
</h4></p>
</div>*@

<div class="row">
    <div class="colomnMainIMG">
        <img itemprop="image" src="~/images/MainPagePicture.jpg" align="left" height="350" />
    </div>
    <div class="colomnMainTxt">
        <h3>
            This is my own selfmade homepage for showcasing some of what I'm capable of when it comes to development <br />
            Feel free to navigate around on the page to see who I am and which courses I've passed and much more. <br />
            <br />
            This page will be updated when new information is acuired. This means that this page allways will be up to date <br />
            if you need to check up on my skills and education.
        </h3>
    </div>
</div>



@*<center>
    <h4>
        This is my own selfmade homepage for showcasing some of what I'm capable of when it comes to development <br />
        Feel free to navigate around on the page to see who I am and which courses I've passed and much more. <br />
        <br />
        This page will be updated when new information is acuired. This means that this page allways will be up to date <br />
        if you need to check up on my skills and education.
    </h4>
</center>*@

